
/* In CSS we have three types of selectors: element such as h1{}, class such as .jam and ID selector 
such as #name */
body {
	font-family: helvetica, arial, sans-serif;
}
h1 {
    color: #3a241d;
	text-align: center;
   }

#left-container {  
	left: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

#right-container {
	background-color: #eee;
	width: 15%;
	right: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}  
.plant-holder {
	position: relative;
	height: 13%;
	left: -15px;
}

.plant {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}


.jar-walls {
	height: 80%;
	width: 60%;
	background: #d1e1df;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.jar-top {
	width: 50%;
	height: 5%;
	background: #d1e1df;
	position: absolute;
	bottom: 80.5%;
	left: 25%;
	opacity: 0.7;
	z-index: 1;
}

.jar-bottom {
	width: 50%;
	height: 1%;
	background: #d1e1df;
	position: absolute;
	bottom: 0%;
	left: 25%;
	opacity: 0.7;
}

.dirt {
	width: 60%;
	height: 5%;
	background: #3a241d;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}

/* CSS Box model */

.main-box{
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one{
    background-color: #EB5757;
    padding: 20px;
    border: 2px solid #9B51E0;
    margin: 4px;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    /* the above property makes the height and width to include the size of the padding and the border.
     */
}
.box-two{
    background-color: #2D9CDB;
    border: 5px solid #27AE60;
    padding: 10px;
    height: 200px;
    margin: 3px;
    border-radius: 10px;
}

/* Flex Box property */

.flexbox-container{
    height: 400px;
    display: flex;
    color: green;
   
}
.flexbox-item{
   
    width: 200px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}
.flexbox-item-1{
    min-height: 100px;
    border: 3px solid #27AE68;
    flex-shrink: 0;
    align-self: flex-end;
    /* Won't shrink */
    order: 3;
    /* you can change the order of boxes using the order property. */
}
.flexbox-item-2{
    min-height: 200px;
    border: 3px solid #e8f809;
    flex-grow: 2;
    /* will make it to take the remaining space. */
    flex-basis: 0;
    /* The above will override the width we gave to the main box. */
    align-self: center;
    order: 1;
}
.flexbox-item-3{
    min-height: 300px;
    border: 3px solid #ff0000;
    flex-grow: 1;
    flex-basis: 0;
    align-self: flex-start;
    
    /* align-self is used for the box itself. */
    order: 2;
}